*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;


}

body {
  background-image: url(fruit2.jpg);
  background-size:cover ;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
  /* text-transform: uppercase; */
 }

a:hover{
  background:whitesmoke;
  transition: .5s;

}

h1{
  text-align: left;
  padding-top: 13%;
  margin-right: 55%;
  font-size: 100px;
  font-style: oblique;
  color: black;
}

h3{
  color: white;
  font-size: 35px;
  font-weight: bold;
  line-height: 80px;
}
.container nav{
  height: 80px;
  width: 100%;
}
  
  li {
    float: right;
    list-style: none;

  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:wheat;
  }
  ul{
    margin-right: 30px;
    font-size: 20px;
    
  }
